
.btnDisplay {
  display: flex;
  align-items: center;
  margin: 0 5px;
  padding: 6px 8px;
  background: #E5E4E2;
  border: none;
  border-radius: 4px;
}

.btnDisplay:hover {
  background: #D3D3D3;
}

.btnDisplay.active {
  background: #8A9A5B;
}